<h3> This is all tasks for today!</h3>
<ol>
<% @tasks.each do |task| %>
       Description: <%= link_to task.description, tasks_path(task.id) %> <br>
        Budget: <%= task.amount%> $ <br><br>
     </ul>
<% end %>
</ol>