<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "I want  some Likes or Subscribes!(click)", tasks_new_task_path %></li>
      <li><%= link_to "Help", pages_help_path %></li>
    </ul>
  </nav>
</footer>